﻿html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    height: 100%;
}

body {
    height: 100%;
    color: #000;
    background: #fff url(../images/bg.jpg) repeat;
}

ol, ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover {
    color: #000;
    text-decoration: none;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.center {
    width: 960px;
    margin: 0 auto;
}

/* Панель в шапке */
.panel-top {
    height: 33px;
    border-top: 3px solid #CC3333;
    background: #2A2B2C;
}
/* Социальные сети */
.social {
    float: left;
    padding: 4px 0;
}

    .social a {
        display: inline-block;
        height: 23px;
        width: 23px;
        vertical-align: middle;
        background: url(../images/sprite-social.png) no-repeat center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
    }

        .social a.s-fb {
            background-position: 0 0;
        }

        .social a.s-dribble {
            background-position: -23px 0;
        }

        .social a.s-tw {
            background-position: -46px 0;
        }

        .social a.s-mail {
            background-position: -69px 0;
        }

        .social a.s-vimeo {
            background-position: -92px 0;
        }

/* Вход на сайт*/
.login {
    float: right;
    padding-top: 7px;
}

    .login a,
    .login span {
        color: #fff;
    }

        .login a:hover {
            text-decoration: underline;
        }

/* Корзинка */
.basket {
    width: 90px;
    float: right;
    margin-left: 25px;
    background: #C33 url(../images/cart.png) no-repeat 8px 7px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

    .basket a {
        display: block;
        height: 45px;
        padding: 15px 0 0 40px;
        color: #fff;
    }
/* Шапка сайта*/
#header {
    padding: 18px 0;
}

/* Логотип */
#logo img,
#logo span {
    display: inline-block;
    vertical-align: middle;
}

#logo span {
    font-size: 30px;
}

/* Навигация */
.nav {
    margin-top: 25px;
}

    .nav li {
        position: relative;
        float: left;
    }

        .nav li + li {
            margin-left: 30px;
        }

        .nav li:before {
            content: "";
            position: absolute;
            top: -17px;
            left: 50%;
            margin-left: -18px;
            display: none;
            width: 35px;
            border-top: 4px solid #efc539;
        }

        .nav li:hover:before,
        .nav li.active:before {
            display: block;
        }

        .nav li a {
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
        }

#home {
    margin-bottom: 40px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
}

.home-bg {
    padding: 20px 0;
    background: #cc3333;
    -webkit-box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
    -moz-box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
    -ms-box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
    -o-box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
    box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
}

.title-home {
    font: normal 28px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    -wekbit-text-shadow: 0 1px 1px rgba(0,0,0,.25);
    -moz-text-shadow: 0 1px 1px rgba(0,0,0,.25);
    -o-text-shadow: 0 1px 1px rgba(0,0,0,.25);
    text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

.breadcrumbs li {
    float: left;
}

    .breadcrumbs li a,
    .breadcrumbs li span {
        font-size: 12px;
        color: #fff;
        -wekbit-text-shadow: 0 1px 1px rgba(0,0,0,.25);
        -moz-text-shadow: 0 1px 1px rgba(0,0,0,.25);
        -o-text-shadow: 0 1px 1px rgba(0,0,0,.25);
        text-shadow: 0 1px 1px rgba(0,0,0,.25);
    }

    .breadcrumbs li .sp {
        display: inline-block;
        margin: 0 5px;
        font-size: 16px;
    }

    .breadcrumbs li a:hover {
        text-decoration: underline;
    }

.link-home {
    display: inline-block;
    float: right;
    width: 36px;
    height: 33px;
    margin-top: 12px;
    background: url(../images/home.png) no-repeat;
}

/*Каталог иконки*/
#catalog-navigation-wrapper {
    margin-top: 30px;
    padding: 0;
    font-size: 0;
}

.catalog-navigation-list {
    position: relative;
}

    .catalog-navigation-item {
        position: relative;
        display: inline-block;

    }

.catalog-navigation-item-wrap {
    height: 120px;
    text-align: center;
    width: 120px;
    height: 120px;
                transition: 0.5s;
            border-top: 4px solid rgba(204, 51, 51, 0);
    border-bottom: 4px solid rgba(204, 51, 51, 0);
}

    .catalog-navigation-item:hover  .catalog-navigation-item-wrap{
        transition: 0.5s;
        border-top: 4px solid rgba(204, 51, 51, 1);
        border-bottom: 4px solid rgba(204, 51, 51, 1);
    }


.catalog-navigation-item-bg {
    padding: 4px 20px 0px;
}

    .catalog-navigation-item-bg span {
        margin: 0;
        display: block;
        height: 80px;
        width: 80px;
        background: url(../images/catalog-items-set.png) no-repeat center;
    }

    .catalog-navigation-item-bg .c-n-guitars {
        background-position: 0 0;
    }

    .catalog-navigation-item-bg .c-n-drums {
        background-position: -80px 0px;
    }

    .catalog-navigation-item-bg .c-n-keys {
        background-position: -160px 0px;
    }

    .catalog-navigation-item-bg .c-n-percussion {
        background-position: -240px 0px;
    }

    .catalog-navigation-item-bg .c-n-strings {
        background-position: -320px 0px;
    }

    .catalog-navigation-item-bg .c-n-wind {
        background-position: -400px 0px;
    }

    .catalog-navigation-item-bg .c-n-sound {
        background-position: -480px 0px;
    }

    .catalog-navigation-item-bg .c-n-accessories {
        background-position: -560px 0px;
    }

.catalog-navigation-text {
    font: 13px;
    display: block;
    font-size: 13px;
    padding: 10px 10px 10px 10px;
}
.catalog-navigation-item-dropdown {
    font-size: 13px;
}

.dropdown-content {
    z-index: 4;
    display: none;
    position: absolute;

    background-color: #cc3333;
    width: 960px;
    left: 0px;
}






/*li.catalog-navigation-item:hover .dropdown-content {
    display: block;
}*/
/*ul.catalog-navigation-list:nth-child(1) 
.catalog-navigation-item-wrap:hover + 
.catalog-navigation-item-dropdown 
.dropdown-content {
    display: block;
    left: px;
}
ul.catalog-navigation-list:nth-child(2) 
.catalog-navigation-item-wrap:hover + 
.catalog-navigation-item-dropdown 
.dropdown-content {
    display: block;
    left: -120px;
}
ul.catalog-navigation-list:nth-child(3) 
.catalog-navigation-item-wrap:hover + 
.catalog-navigation-item-dropdown 
.dropdown-content {
    display: block;
    left: -240px;
}*/





.catalog-navigation-item-guitars {
}
