﻿
/*Контент каталога*/

.sidebar {
	width: 240px;
	float: Left;
}

.content {
	margin-left: 285px;
}


.products {
    transition: 0.5s ease-in;
        border-top: 4px solid rgba(204, 51, 51, 0);
        border-bottom: 4px solid rgba(204, 51, 51, 0);
    box-sizing: border-box;
	width: 215px;
	height: 370px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	overflow: hidden;
	background: #FFF;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -0-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
	   -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
		-ms-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
		 -o-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
			box-shadow: 0 2px 3px rgba(0,0,0,0.15);
}
.products:hover {
    transition: 0.5s ease-in;
        border-top: 4px solid rgba(204, 51, 51, 1);
        border-bottom: 4px solid rgba(204, 51, 51, 1);
}


.products:nth-child(3n) {margin-right: 0;}

.p-img {
	position: relative;
	height: 210px;
	overflow: hidden;
	border: 1px solid #000;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -0-border-radius: 5px;
	        border-radius: 5px;
	
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
	   -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
		-ms-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
		 -o-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
			box-shadow: 0 1px 5px rgba(0,0,0,0.75);
}
.p-img img {
    transition: 0.5s ease-in;
}
.products:hover .p-img img{
        transition: 0.5s ease-out;
    width: 240px;
    height: 240px;
}

.sale {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 3;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	background: rgba(204,51,51,.6);
	
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
		 -0-border-radius: 50%;
	        border-radius: 50%;
}

.p-footer {padding: 0 8px 15px;}
.products h6 {
	margin: 8px 0;
	font-size: 14px;
	font-weight: bold;
}
.products h6 span {
	font-weight: normal;
	font-style: italic;
}
.products h6 a:hover { text-decoration: underline;}
.p-footer p {margin-bottom: 15px;}
.p-footer p strong {font-weight: bold;}

.price, .price-new {
	display: inline-block;
	font-weight: bold;
	margin-top: 5px;
}
.price {
}
.price-new {
	padding: 1px 3px;
	line-height: 16px;
	color: #fff;
	background: #C33;
}

.add-cart {
	display: block;
	padding: 5px 8px;
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
	background: #1E1E20;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -0-border-radius: 5px;
	        border-radius: 5px;
}

.add-cart:hover {background: #888;}

/*  сайд бар */
.s-title {
	position: relative;
	margin: 10px 0 10px;
	padding: 0 0 15px 15px;
	font: normal 18px/20px 'Oswald', sans-serif;
	color: #2A2B2C;
	text-transform: uppercase;
	border-bottom: 1px dotted #d5d5d5;
}
.s-title .s-title-br {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	width: 40px;
	height: 7px;
	margin-top: -3px;
	background: #cc3333;
}

.s-products {
	margin: 15px 0 0;
	padding-left: 15px;
}
.s-products-item {margin-bottom: 10px;}
.s-products-img {
	height: 90px;
	width: 90px;
	float: left;
	overflow: hidden;
	padding: 5px;
	background: #44484e;
}
.s-products-img img {
	display: block;
	width: 100%;
}

.s-products-info {
	padding-top: 10px;
	margin-left: 105px;
}

.s-products-info h6 {
	margin-top: 0 !important;
}
.commetns {
	font-size: 11px;
	color: #1E1E20;
	text-transform: uppercase;
}
.ic-comment, .ic-comment-white {
	display: inline-block;
	vertical-align: middle;
	height: 18px;
	width: 13px;
	background: url(../img/comments.png) no-repeat center;
}
.ic-comment-white {
	background: url(../img/comments-white.png) no-repeat center;
}

.cat-lsit {
	margin: 10px 0 30px 0;
	padding-left: 15px;
	list-style: url(../img/cat-list-style.png);
	list-style-position: inside; 
}
.cat-lsit li {
	padding: 10px 0; 
	border-bottom: 1px dotted #9FA0A1;
}
.cat-lsit li:last-child {
	border: none;
}

.cat-lsit li a {
	font-weight: bold;
}
.cat-lsit li a:hover {
	text-decoration: underline;
}

.cat-lsit li span {
	display: inline-block;
	margin-left: 5px;
	color: #7D7E7E;
}
.s-search {
	position: relative;
	margin-top: 15px;
	padding-left: 15px;
}
.s-search input[type="text"] {
	display: block;
	width: 100%;
	height: 40px;
	padding: 0 45px 0 15px; 
	border: 1px solid #e7e7e7;
	background: #fff;
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0, 0.06);
	    -ms-box-shadow: 0 1px 2px rgba(0,0,0, 0.06);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0, 0.06);
		 -o-box-shadow: 0 1px 2px rgba(0,0,0, 0.06);
	        box-shadow: 0 1px 2px rgba(0,0,0, 0.06);
}

.s-search input[type="text"]::-webkit-input-placeholder {
	font-style: italic;
	color: #C3C2C2;
}
.s-search input[type="text"]::-moz-placeholder {
	font-style: italic;
	color: #C3C2C2;
}

.s-search input[type="submit"] {
	position: absolute;
	top: 0;
	right: 2px;
	height: 40px;
	width: 40px;
	border: none;
	background: transparent url(../img/s-search-btn.png) no-repeat center;
	cursor: pointer;
}
/* Ползунок -----------------------------
---------------------------------------*/
.ui-slider {
    margin-bottom: 10px;
    position: relative;
    text-align: left;
}

/* Ширина, высота и позиционирование для ползунков
----------------------------------*/
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 15px;
    height: 15px;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    cursor:pointer;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}

/* Высота горизонтальной полоски
----------------------------------*/
.ui-slider-horizontal {height: 6px;}
.ui-slider-horizontal .ui-slider-handle {
    top: -4px;
    margin-left: -8px;
}
.ui-slider-horizontal .ui-slider-range {top: 0;height: 100%;}
.ui-slider-horizontal .ui-slider-range-min {left: 0;}
.ui-slider-horizontal .ui-slider-range-max {right: 0;}

/* Ширина вертикальной полоски
----------------------------------*/
.ui-slider-vertical {
    width: .8em;
    height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {left: 0;width: 100%;}
.ui-slider-vertical .ui-slider-range-min {bottom: 0;}
.ui-slider-vertical .ui-slider-range-max {top: 0;}

/* Указание шрифта и размера текста
----------------------------------*/
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}
.ui-widget .ui-widget {
    font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
}


#amount, label[for="amount"] {
	background: transparent; 
	font-weight: normal;
	font-size: 13px;
	color: #2A2B2C !important;
}
#amount {width: 70px;}
.btn-bl {
	display: inline-block;
	margin-left: 15px;
	padding: 5px 10px;
	font-size: 10px;
	color:#fff;
	text-transform: uppercase;
	border: none;
	background: #1e1e20;
	cursor: pointer;
}
.s-slider {padding: 0 20px;}
.s-slider p {margin-bottom: 20px;}
/* Стилизация полоски
----------------------------------*/
.ui-widget-content {
	margin: 25px 0;
    background: #fff;
    border-bottom: 1px solid #CECECE;
    color: #222222;
    
}
.ui-widget-content a {color: #222222;}

/* Стилизация промижудка между ползунками
----------------------------------*/
.ui-widget-header {
    background: #666;
    color: #222222;
    font-weight: bold;
}
.ui-widget-header a {color: #222222;}

/* Стилизация ползунков 
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    font-weight: normal;
    color: #555555;
    width: 22px;
    height: 15px;
    background: #cc3333;
    -webkit-border-radius: 4px;
            border-radius: 4px;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #555555;
    text-decoration: none;
}

/* Стилизация ползунка при наведении и фокусе
----------------------------------*/
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    font-weight: normal;
    color: #212121;
}

.categories ul {
    cursor: pointer;
}
.categories ul li:nth-child(even){
    margin-left: 40px;
}
.categories ul li:nth-child(even) span{
    display: block;
}
.categories ul li:nth-child(even) span:before{
    content: "➤";
    margin-right: 10px;
    color: #black;
}
.categories ul li:nth-child(odd) span{
    font-size: 18px;
}
.category_active:before {
    content: "▼";
        color: #cc3333;
        margin-right: 10px;
}
.category_deactivate:before {
    content: "⯈";
        color: black;
        margin-right: 10px;
}
.subcategory_active:before {
        content: "➤";
    color: #cc3333;
}








.pages {
    float: right;
}
.pages ul li {
    display: inline-block;
}
.pages ul li a{
        transition: 0.5s ease-in;
        border-top: 4px solid rgba(204, 51, 51, 0);
        border-bottom: 4px solid rgba(204, 51, 51, 0);
}
.pages ul li a:hover{
        transition: 0.5s ease-in;
        border-top: 4px solid rgba(204, 51, 51, 1);
        border-bottom: 4px solid rgba(204, 51, 51, 1);
        cursor: pointer;
}
.sidebar_brands {
    display: block;
}
.price-input {
    transition: 0.5s ease-in;
     border: 4px solid white; 
    -webkit-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    padding: 7px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}
.price-input:focus {
     transition: 0.5s ease-in;
        border: 4px solid rgba(204, 51, 51, 1);
}
.sidebar_brands label {
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
}
.sidebar_brands input+label{
    margin-top: 8px;
}
.sidebar_brands label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.sidebar_brands input[type=checkbox] {
    display: none;
}
.sidebar_brands input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    background-color: #cc3333;
    color: black;
    text-align: center;
    line-height: 15px;
}



/* красивые оверлейки*/

.modal {
    z-index: 11; /* 1px higher than the overlay layer */
}
.cart_content {
    display: none;
    line-height: 200px;
    position: absolute;
    top: 25%; 
    left: 17%;
    width: 66%;
    background-color: #f1c40f;
    border-radius: 20px;
    text-align: center;
    line-height: 20px;

    height: 500px;
    overflow-x: hidden;
}
.cart_content span {
    font: 18px bold;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}
.cart_content table {
    border-collapse: collapse; 
}
.cart_content>table th {
    border: 1px solid;
    line-height: 20px;
    vertical-align: middle;
}
.cart_content>table tr {
    border: 1px solid black;
    line-height: 20px;
    vertical-align: middle;
}
.cart_content>table td {
    border: 1px solid black;
    vertical-align: middle;
}

.cart_content  table{
    padding: 0px;
    width: 100%;
    vertical-align: middle;
}
.cart_content h6{
    line-height: 20px;
}
.cart_content h6 span {
    color: black;
    font: 18px bold;
}
