﻿@model WebUI.Models.Categories.IndexModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th colspan="3">
            @Html.DisplayNameFor(model => model.Categories[0].Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Categories) {
    <tr>
        <td colspan="3">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
