﻿@{

    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>GuitarShopApp</title>
    <base href="/Angular2/">
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
     crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.css"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="row">
            <app-root>Loading...</app-root>
        </div>
    </div>
    <script type="text/javascript" src="/App/dist/inline.bundle.js"></script>
    <script type="text/javascript" src="/App/dist/polyfills.bundle.js"></script>
    <script type="text/javascript" src="/App/dist/styles.bundle.js"></script>
    <script type="text/javascript" src="/App/dist/vendor.bundle.js"></script>
    <script type="text/javascript" src="/App/dist/main.bundle.js"></script>
</body>
</html>
