﻿@using WebUI.Models
@model WebUI.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<h2>Регистрация</h2>

<div class="container">
    <div class="row">
    @using (Html.BeginForm("Register", "Account", "Post"))
    {
        @Html.AntiForgeryToken()

        <div>
            <h4>Регистрация пользователя</h4>
            <hr/>
            @Html.ValidationSummary(false)

            <div>
                Ваше имя
                <div>
                    @Html.EditorFor(model => model.UserName)
                </div>
            </div>

            <div>
                Электронный адрес
                <div>
                    @Html.EditorFor(model => model.Email)
                </div>
            </div>


            <div>
                Телефонный номер
                <div>
                    @Html.EditorFor(model => model.PhoneNumber)
                </div>
            </div>

            <div>
                Пароль
                <div>
                    @Html.EditorFor(model => model.Password)
                </div>
            </div>

            <div>
                Подтвердить пароль
                <div>
                    @Html.EditorFor(model => model.PasswordConfirm)
                </div>
            </div>

            <div>
                Выберите роль
                <div>
                    @Html.DropDownListFor(model => model.RoleId,
                        new SelectList(Model.ApplicationRoles, "Id", "Name")
                        , new {@class = "form-control", multiple = true})
                </div>
            </div>
            <div>
                <div>
                    <input type="submit" value="Зарегистрировать"/>
                </div>
            </div>
        </div>
    }
</div>
</div>