﻿@using System.Web.Optimization
@model WebUI.Models.Products.AddEditModel
@using PerpetuumSoft.Knockout
@{
    var ko = Html.CreateKnockoutContext();
    ViewBag.Title = "Create";
}
@section Links{
    <link href="@Url.Content("~/Content/file-input.css")" rel="stylesheet"> </link>
        <link href="@Url.Content("~/Content/css/select2.min.css")" rel="stylesheet"> </link>
}
@section headerScripts{
    @Scripts.Render("~/bundles/ko")
    @Scripts.Render("~/Scripts/Product/productAddEdit.js")
    <script src="~/Scripts/select2.min.js" type="text/javascript"></script>
}
@using (Html.BeginForm("Create","Products",FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Brands, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BrandId,
                    new SelectList(Model.Brands, "Id", "Name")
                    , new { @class = "form-control single", multiple = true })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Subcategories, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SubcategoryId,
                    new SelectList(Model.Subcategories, "Id", "Name")
                    , new { @class = "form-control single", multiple = true })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" @ko.Bind.Visible(m => m.UploadedImagesPreview.Count > 0)>
            <label class="control-label col-md-2"> Prepared to upload images</label>
            <div class="col-md-10">
                <table class="table">
                    <tbody>
                        @using (var items = ko.Foreach(m => m.UploadedImagesPreview))
                        {
                            <tr>
                                <td>
                                    <img src="" alt="" height="80px" width="80px" @items.Bind.Attr("src", i => i) />
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div class="form-group">
    <label class="control-label col-md-2"> Upload Image</label>
    <div class="col-md-10">
        <form id="file-form" method="POST">
            <input type="file" accept="image/jpeg,image/png,image/gif" id="uploadImage" name="uploadImage" class="inputfile inputfile-1" data-multiple-caption="{count} files selected"
                   multiple data-bind="event:{change: CreatePreviews}">
            <label for="uploadImage"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg> <span>Choose a files…</span></label>
            
        </form>
        <div @ko.Bind.Visible(m => m.UploadedImagesPreview.Count > 0)>

            <input formtarget="" type="button" accept="image/jpeg,image/png,image/gif" id="ClearPreview" name="ClearPreview" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="" data-bind="click: ClearPreview">
            <label for="ClearPreview"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg> <span>Clear input</span></label>
            <div>
            </div>
        </div>
    </div>
</div>
@ko.Apply(Model)
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
