﻿@model WebUI.Models.Products.AddEditModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <div class="form-group">
            <label class="control-label col-md-2"> Загруженные изображения</label>
            <div class="col-md-10">
                <ul class="">

                    @for (int i = 0; i < Model.Images.Count; i++)
                    {
                        @Html.HiddenFor(model => model.Images[i].Id)
                        <li>
                            <img src="@{@Url.Content("~" + @Model.Images[i].RelatedUrl) ~" + @Model.Images[i].RelatedUrl)  ~" + @Model.Images[i].RelatedUrl)}" alt = "" height = "80px" width = "80px" /> @Html.CheckBoxFor(model => model.Images[i].isDeleted) @Html.HiddenFor(model => model.Images[i].RelatedUrl) @Html.HiddenFor(model => model.Images[i].isDeleted)
                        </li>
                       }
            </ul>

            </div>
        </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
