﻿@using PerpetuumSoft.Knockout
@using System.Web.Optimization
@model WebUI.Models.Products.AddEditModel

@{
    ViewBag.Title = "Edit";
    var ko = Html.CreateKnockoutContext();
    var opt = new AjaxOptions
    {
        OnSuccess = "testKoMaping(data)",
        OnFailure = "alert('!sabaka')"
    };
}
@section Links{
    <link href="@Url.Content("~/Content/file-input.css")" rel="stylesheet"> </link>
        <link href="@Url.Content("~/Content/css/select2.min.css")" rel="stylesheet"> </link>
}
@section headerScripts{
    @Scripts.Render("~/bundles/ko")
    @Scripts.Render("~/Scripts/Product/productAddEdit.js")
<script src="~/Scripts/select2.min.js" type="text/javascript"></script>
}
<h2>Edit</h2>


    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.BrandId)
        @Html.HiddenFor(model => model.SubcategoryId)
        @Html.HiddenFor(model => model.Stocks)
        @Html.HiddenFor(model => model.UploadedImagesPreview)
        @Html.HiddenFor(model => model.Brands)
        @Html.HiddenFor(model => model.Images)

     

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                    @ko.Html.TextBox(model => model.Price,new { @class= "form-control"})
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @ko.Html.TextBox(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
               @ko.Html.TextBox(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Brands, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <select class="form-control single"  multiple @ko.Bind.Options(m => m.Brands).Value(m => m.BrandId).OptionsText("'Name'").OptionsValue("'Id'")></select>
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Subcategories, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <select class ="form-control single"  multiple  @ko.Bind.Options(m => m.Subcategories).Value(m => m.SubcategoryId).OptionsText("'Name'").OptionsValue("'Id'")></select>

                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>
        @if (Model.Images.Count != 0)
        {
            <div class="form-group">
                <label class="control-label col-md-2"> Images</label>
                <div class="col-md-10">
                    <table class="table">
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                                DefaultImage
                            </th>
                            <th>
                                Delete
                            </th>
                         
                        </tr>
                        
                        @using(var images = @ko.Foreach(m=>m.Images))
                        {
                            
                            <tr>
                                <td>
                                    <img src="" alt="" height="80px" width="80px" @images.Bind.Attr("src",i=>i.RelatedUrl)/>
                                </td>
                                <td>
                                
                                   
                                    <input type="radio" name="DefaultImageId" data-bind="attr : {value:$data.Id}, checked: $parent.DefaultImageId" >
                                            
                                   
                                    
                                
                                </td>
                                <td>
                                    <div @images.Bind.Visible(m => m.Id != @ko.Model.DefaultImageId)>
                                        @images.Html.CheckBox(model => model.isDeleted)
                                    </div>


                                </td>

                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="form-group" @ko.Bind.Visible(m=>m.UploadedImages.Count>0)>
                <label class="control-label col-md-2"> Uploaded Images</label>
                <div class="col-md-10">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                                DefaultImage
                            </th>
                            <th>
                                Delete
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                            @using (var uploadedImages = @ko.Foreach(m => m.UploadedImages))
                            {

                                <tr>
                                    <td>
                                        <img src="" alt="" height="80px" width="80px" @uploadedImages.Bind.Attr("src", i => i.RelatedUrl) />
                                    </td>
                                    <td>

                                        <input type="radio" name="DefaultImageId" data-bind="attr : {value:$data.Id}, checked: $parent.DefaultImageId">

                                    </td>
                                    <td>
                                        <div @uploadedImages.Bind.Visible(m => m.Id != @ko.Model.DefaultImageId)>
                                            @uploadedImages.Html.CheckBox(model => model.isDeleted)
                                        </div>


                                    </td>
                                   

                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.HiddenFor(model => model.DefaultImageId)
                </div>
            </div>
           
        }

        <div class="form-group" @ko.Bind.Visible(m => m.UploadedImagesPreview.Count > 0)>
            <label class="control-label col-md-2"> Prepared to upload images</label>
            <div class="col-md-10">
                <table class="table">
                    <tbody>
                    @using (var items = ko.Foreach(m => m.UploadedImagesPreview))
                                 {
                        <tr>
                            <td>
                                <img src="" alt="" height="80px" width="80px" @items.Bind.Attr("src",i=>i)/>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"> Upload Image</label>
            <div class="col-md-10">
                <form id="file-form" method="POST"> 
                    <input type="file" accept="image/jpeg,image/png,image/gif" id="uploadImage" name="uploadImage" class="inputfile inputfile-1" data-multiple-caption="{count} files selected"
                           multiple data-bind="event:{change: CreatePreviews}">
                    <label for="uploadImage"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg> <span>Choose a files…</span></label>
                    <div @ko.Bind.Visible(m => m.UploadedImagesPreview.Count > 0)>

                        <input formtarget="" type="submit" accept="image/jpeg,image/png,image/gif" id="AddImage" name="AddImage" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="">
                        <label for="AddImage"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg> <span>Upload files…</span></label>
                        <div>
                        </div>
                    </div>
                </form>
                <div @ko.Bind.Visible(m => m.UploadedImagesPreview.Count > 0)>

                    <input formtarget="" type="button" accept="image/jpeg,image/png,image/gif" id="ClearPreview" name="ClearPreview" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="" data-bind="click: ClearPreview">
                    <label for="ClearPreview"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg> <span>Clear input</span></label>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div @ko.Bind.Visible(m=>m.UploadedImagesPreview.Count == 0)>
                    @ko.Html.Button("Save", "Edit", "Products", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div> 


            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
            @ko.Apply(Model)
<script>
    function SetDefaultImageSelected() {
        var inputs = $("input[name='DefaultImageId'][type='radio']");
        for (var i = 0; i < inputs.length; i++) {
            var id = inputs[i].value;
            if (id == viewModel.DefaultImageId()) {
                inputs[i].checked = true;
            }
        }
    }

    function executeOnServer(model, url) {
        executeOnServerCustom(model, url, null);
    }

    executeOnServerCustom = function(model, url, completeFunction) {
        $.ajax({
            url: url,
            type: 'POST',
            data: ko.mapping.toJSON(model),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
               var modelJs = JSON.stringify(data.Model);
                ko.mapping.fromJSON(modelJs,viewModel);
                SetDefaultImageSelected();
                if (data.redirect) {
                    location.href = resolveUrl(data.url);
                } else {
                    
                }
            },
            error: function(error) {
                alert("There was an error posting the data to the server: " + error.responseText);
            },
            complete: completeFunction
        });

    };
    $(document).ready(function() {
        SetDefaultImageSelected();
        $(".single").select2({
            maximumSelectionLength: 1
        });
    });
    $('form#file-form').on('submit', uploadFiles);

    // Catch the form submit and upload the files
    function uploadFiles(event) {
        event.stopPropagation(); // Stop stuff happening
        event.preventDefault(); // Totally stop stuff happening
        var filesSelected = document.getElementById('uploadImage');
        // START A LOADING SPINNER HERE

        // Create a formdata object and add the files
        var data = new FormData();
        $.each(filesSelected.files,
            function(key, value) {
                data.append(key, value);
            });
        data.append("productId",viewModel.Id())

        $.ajax({
            url: '/Products/UploadImages/',
            type: 'POST',
            data: data,
            dataType: 'json',
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            success: function(data, textStatus, jqXHR) {
                if (typeof data.error === 'undefined') {
                    UploadSuccessHandler(data);
                    submitForm(event, data);
                } else {
                    // Handle errors here
                    console.log('ERRORS: ' + data.error);
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // Handle errors here
                console.log('ERRORS: ' + textStatus);
                // STOP LOADING SPINNER
            }
        });
    }
</script>
