﻿
@using System.Web.Optimization
@model List<CodeFirst.Models.Category>
@{
    ViewBag.Title = "продукты";
    Layout = "~/Views/Shared/_СustomerLayout.cshtml";
}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

<!-- Latest compiled and minified Locales -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
@section scripts{
@Scripts.Render("~/Scripts/ApiCustomer/underscore.js")
@Scripts.Render("~/Scripts/ApiCustomer/knockout.dirtyFlag.js")
}
@section Categories{
    <div id="catalog-navigation-wrapper">
        <div class="catalog-navigation center">
            <ul class="catalog-navigation-list">
                <li class="catalog-navigation-item" data-id="1">
                    <div class="catalog-navigation-item-wrap">
                        <div class="catalog-navigation-item-bg">
                            <span class="c-n-guitars"></span>
                        </div>
                        <span class="catalog-navigation-text">Гитарное</span>
                    </div>
                    <div class="catalog-navigation-item-dropdown">
                        <div class="dropdown-content">
                            <div class="categories_menu">
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        @foreach (var category in Model)
                                        {
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@category.Name <b class="caret"></b></a>
                                                <ul class="">
                                                    @foreach (var subcategory in category.Subcategories)
                                                    {
                                                        <li><a id="@subcategory.Id" href="@subcategory.Name">@subcategory.Name</a></li>
                                                        <li class="divider"></li>

                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="catalog-navigation-item" data-id="2">
                    <div class="catalog-navigation-item-wrap">
                        <div class="catalog-navigation-item-bg">
                            <span class="c-n-drums"></span>
                        </div>
                        <span class="catalog-navigation-text">Ударные</span>
                    </div>
                    <div class="catalog-navigation-item-dropdown">
                        <div class="dropdown-content">
                            2
                        </div>

                    </div>
                </li>
                <li class="catalog-navigation-item" data-id="3">
                    <div class="catalog-navigation-item-wrap">
                        <div class="catalog-navigation-item-bg">
                            <span class="c-n-keys"></span>
                        </div>
                        <span class="catalog-navigation-text">Клавишные</span>
                    </div>
                    <div class="catalog-navigation-item-dropdown">
                        <div class="dropdown-content">
                            3
                        </div>

                    </div>
                </li>
                <li class="catalog-navigation-item" data-id="4">
                    <div class="catalog-navigation-item-wrap">
                        <div class="catalog-navigation-item-bg">
                            <span class="c-n-percussion"></span>
                        </div>
                        <span class="catalog-navigation-text">Перкуссия</span>
                    </div>
                    <div class="catalog-navigation-item-dropdown">
                        <div class="dropdown-content">
                            4
                        </div>

                    </div>
                </li>
                <li class="catalog-navigation-item" data-id="5">
                    <div class="catalog-navigation-item-wrap">
                        <div class="catalog-navigation-item-bg">
                            <span class="c-n-strings"></span>
                        </div>
                        <span class="catalog-navigation-text">Струнные</span>
                    </div>
                    <div class="catalog-navigation-item-dropdown">
                        <div class="dropdown-content">
                            312312312
                        </div>

                    </div>
                </li>
                <li class="catalog-navigation-item" data-id="6">
                    <div class="catalog-navigation-item-wrap">
                        <div class="catalog-navigation-item-bg">
                            <span class="c-n-wind"></span>
                        </div>
                        <span class="catalog-navigation-text">Духовые</span>
                    </div>
                    <div class="catalog-navigation-item-dropdown">
                        <div class="dropdown-content">
                            312312
                        </div>

                    </div>
                </li>
                <li class="catalog-navigation-item" data-id="7">
                    <div class="catalog-navigation-item-wrap">
                        <div class="catalog-navigation-item-bg">
                            <span class="c-n-sound"></span>
                        </div>
                        <span class="catalog-navigation-text">Звук</span>
                    </div>
                    <div class="catalog-navigation-item-dropdown">
                        <div class="dropdown-content">
                            321312
                        </div>

                    </div>
                </li>
                <li class="catalog-navigation-item" data-id="8">
                    <div class="catalog-navigation-item-wrap">
                        <div class="catalog-navigation-item-bg">
                            <span class="c-n-accessories"></span>
                        </div>
                        <span class="catalog-navigation-text">Аксессуары</span>
                    </div>
                    <div class="catalog-navigation-item-dropdown">
                        <div class="dropdown-content">
                            11
                        </div>

                    </div>
                </li>



            </ul>
        </div>
    </div>
}
<div class="middle clearfix center">
    <div class="sidebar">
        <h4 class="s-title">Choose Category<span class="s-title-br"></span></h4>
        <!-- ko with: sidebar -->
        <div class="categories">
            <ul data-bind="foreach: { data: categories, as: 'category'}">
                <li><span name="category" data-bind="attr:{id: category.id, value: $index, class: category.id == $root.current_category_Id() ? 'category_active' : 'category_deactivate'},text: category.name, click:function(data, event){$root.setCurrentCategory(data,event)}"></span></li>
                <li data-bind="foreach: { data: subcategories, as: 'subcategory'},visible: category.id == $root.current_category_Id()">
                    <span name="subcategory" data-bind="attr:{id: subcategory.id,class: subcategory.id == $root.current_subcategory_id() ? 'subcategory_active' : ''},text: subcategory.name, click:function(data, event){$root.setCurrentSubcategory(data,event)}"></span>
                </li>
            </ul>
        </div>
        <!-- /ko -->



        <div calss="sidebar_prices">
            <h4 class="s-title">Price Filter <span class="s-title-br"></span></h4>
            <input type="text" class="price-input" placeholder="from" data-bind="textInput:sidebar().start_price" />
            <input type="text" class="price-input" placeholder="to" data-bind="textInput:sidebar().finish_price" />
        </div>

        <h4 class="s-title">Brands <span class="s-title-br"></span></h4>
        
        <div class="sidebar_brands">
            <!-- ko with: sidebar -->
            <!-- ko foreach: brands -->
            <input  type="checkbox" data-bind="attr:{id:'brand'+$data.id},checked: $data.is_chosen">
            <label data-bind="attr:{for:'brand'+$data.id},text:$data.name"></label>



            <!-- /ko -->
            <!-- /ko -->
        </div>


        <h4 class="s-title">SEARCH OUR PRODUCTS <span class="s-title-br"></span></h4>

        <form action="#" class="s-search">
            <input type="text" placeholder="Search..." />
            <input type="submit" value="" />
        </form>
    </div>
    <div class="content">
        <div class="content_top_bar">
            <select data-bind="value: pagination().current_sort_type">
                <option value="1">Price Ascending</option>
                <option value="2">Price Descending</option>
                <option value="2">Name Ascending</option>
                <option value="3">Name Descending</option>
            </select>
        </div>
        <div class="product-catalog clearfix" data-bind="foreach: { data: products, as: 'product' }">
            <div class="products">
                <div class="p-img">
                    <span class="sale">Sale</span>
                    <a href="#">
                        <!-- ko foreach: product.images -->

                        <div data-bind="if: $data.Id == $parent.DefaultImageId">
                            <img width="220px" height="220px" data-bind="attr:{src:$data.related_url}"/>
                        </div>


                        <!-- /ko -->

                    </a>
                </div>
                <div class="p-footer">
                    <h6><a href="#">Name</a> <span data-bind="text:product.name"></span></h6>
                    <h6>Description<a href="#"></a> <span data-bind="text: product.description"></span></h6>
                    <div class="p-footer-price clearfix">
                        <span class="price" data-bind="text:product.price +'$'"></span>
                        <a href="#" class="right add-cart" data-bind="click: function(data,event){ $root.cart().add_to_cart(data)}">ADD TO CART</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pages">
            <ul data-bind="foreach: pagination().pages">
                <li>
                    <a data-bind="value: $data+1, text: $data+1, click: function(data, e){$root.setCurrentPage(data+1) }"></a>
                </li>


            </ul>
        </div>
    </div>

</div>
<!-- SECTION MODALS-->
<div class="cart_content center">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>Description</th>
                    <th>Count</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody data-bind="foreach:{ data: cart().products, as: 'cartProduct' }">
                <tr>
                    <td data-bind="foreach:{ data: cartProduct.product.images, as: 'image' }">
                        <img height="100px" width="100px" data-bind="attr: {src: image.id == $parent.product.default_image_id ? image.related_url:'' }" />
                    </td>
                    <td>
                        Name: <span data-bind="text:cartProduct.product.name"></span>
                        <h6>Description: <span data-bind="text:cartProduct.product.description"></span></h6>
                        <h6>Price: <span data-bind="text:cartProduct.product.price"></span></h6>
                    </td>
                    <td>
                        <span data-bind="text:count_in_cart()"></span>
                    </td>
                    <td>
                        <span data-bind="text:count_in_cart()*product.price"></span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total</td>
                    <td> <span data-bind="text:cart().total_price()"></span></td>
                </tr>
            </tfoot>
        </table>
</div>
@Scripts.Render("~/Scripts/ApiCustomer/api_vm_extentions.js")
<script>
    $(".catalog-navigation-item").hover(
        function () {
            var right = (parseInt($(this).attr("data-id")) - 1) * 120;
            right = 0 - right;
            right = right.toString() + "px";
            $(this).find(".dropdown-content").css("left", right).show();
        },
        function () {
            $(this).find(".dropdown-content").hide();
        }
    );


</script>
