﻿@model WebUI.Models.Couriers.AddEditModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table class="table-striped">
    <tr>
        <th>
            Name
        </th>
        <th>
            Email

        </th>
        <th>
            Address
        </th>
        <th>
            Salary
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Salary)
        </td>
    </tr>
    }
</table>
<h3>Courier Orders information</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Orders[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders[0].DeliveryAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders[0].DeliveryType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Orders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryType)
            </td>
            <td>
                @Html.ActionLink("Details","Details", "Orders", new { id = item.Id },"") |
            </td>
        </tr>
    }

</table>