﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("headerScripts",false)
    @RenderSection("Links", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>   @Html.ActionLink("Аккаунты", "Index", "Account")</li>*@

                    <li> @Html.ActionLink("Брэнды", "Index", "Brands")</li>
                    <li> @Html.ActionLink("Заказы", "Index", "Orders")</li>
                    <li> @Html.ActionLink("Категории", "Index", "Categories")</li>
                    <li> @Html.ActionLink("Корзины", "Index", "Baskets")</li>
                    <li> @Html.ActionLink("Курьеры", "Index", "Couriers")</li>
                    <li> @Html.ActionLink("Наличие", "Index", "Stocks")</li>
                    <li> @Html.ActionLink("Подкатегории", "Index", "Subcategories")</li>
                    <li> @Html.ActionLink("Продукты", "Index", "Products")</li>
                    <li> @Html.ActionLink("Роли", "Index", "Roles")</li>
                    <li> @Html.ActionLink("Склады", "Index", "Warehouse")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
@*@Scripts.Render("~/bundles/ko")*@
    @RenderSection("scripts", required: false)
    

</body>
</html>