﻿@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_СustomerLayout</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Catalog/_customerLayout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Catalog/Customer.css">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/ko")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/knockout-2.2.1.js" type="text/javascript"></script>
</head>
<body>
    <div id="wrapper">
        <!-- Верхняя панель -->
        <div class="panel-top">
            <div class="center clearfix">
                <div class="social">
                    <a href="#" class="s-fb">&nbsp;</a>
                    <a href="#" class="s-dribble">&nbsp;</a>
                    <a href="#" class="s-tw">&nbsp;</a>
                    <a href="#" class="s-mail">&nbsp;</a>
                    <a href="#" class="s-vimeo">&nbsp;</a>
                </div>
                <div class="basket" data-bind="click: function(data,event){set_modal_visible('.cart_content')}">
                    <a href="#"><span data-bind="text:cart().total_count"></span><span>&nbsp;in</span></a>
                </div>
                <div class="login">
                    <a href="#">Login</a>
                    <span>/</span>
                    <a href="#">Register</a>
                </div>
            </div>
        </div>
        <!-- // Верхняя панель -->
        <!-- Шапка сайта -->
        <div id="header" class="center clearfix">
            <!-- Логотип -->
            <div id="logo" class="left">
                <a href="#">
                    <img src="~/Content/images/logo.png" height="60" width="61" alt="" />
                    <span>Store</span>
                </a>
            </div>
            <!-- // Логотип -->
            <!-- Навигация -->
            <ul class="nav right clearfix">
                <li class="active"><a href="#">HOME</a></li>
                <li><a href="#">CD’s</a></li>
                <li><a href="#">DVD’s</a></li>
                <li><a href="#">NEWS</a></li>
                <li><a href="#">PORTFOLIO</a></li>
                <li><a href="#">CONTACT US</a></li>
            </ul>
            <!-- // Навигация -->
        </div>

        <div id="home">
            <div class="home-bg">
                <div class="center">
                    <a href="/" class="link-home">&nbsp;</a>
                    <h2 class="title-home">SHOP - SIDEBAR ON THE RIGHT</h2>
                    <ul class="breadcrumbs clearfix">
                        <li><a href="#">Home</a><span class="sp">&raquo;</span></li>
                        <li><a href="#">Shop</a><span class="sp">&raquo;</span></li>
                        <li><span>Sidebar on the right</span></li>
                    </ul>
                </div>
            </div>
        </div>
        @RenderSection("Categories",false);
        <!-- // Шапка сайта -->
    </div>
    

        <div class="render-body">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/bootstrap")
</body>
</html>*
