﻿@model WebUI.Models.Stocks.AddEditModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
         @for (int i = 0; i<Model.StockHolders.Count;i++)
        {   
            @Html.HiddenFor(model => model.StockHolders[i].Id)
            @Html.HiddenFor(model => model.StockHolders[i].ProductId)
            @Html.HiddenFor(model => model.StockHolders[i].WarehouseId)
            @Html.HiddenFor(model => model.StockHolders[i].CurrentNumberOfProducts)
            <div class="form-group">
                <h3>@Model.StockHolders[i].WarehouseAddress</h3>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StockHolders[i].CountToAdd, new { htmlAttributes = new { @class = "form-control" } })
                    <br/>
                    <h4> Current number of products in stock : @Model.StockHolders[i].CurrentNumberOfProducts</h4>
                    <br/>
                    @Html.ValidationMessageFor(model => model.StockHolders[i].CountToAdd, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
