﻿@model WebUI.Models.Stocks.IndexModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Product Name</th>
        <th>Count in stock</th>
    </tr>

@foreach (var item in Model.Stocks) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.Id)
        </td>
        <td>
            @Html.DisplayFor(model => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(model => item.NumberOfProducts)
        </td>
    </tr>
}

</table>
